.card{
    max-width: 350px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    font-family: 'Helvecti Neue', Helvetica, Arial, sans-serif ;
}
.card:hover{
    transform: scale(1.05);
}
.meal-img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.card-content{
    padding: 15px;
    background-color: white;
    text-align: left;
}
.header{
    font-size: 24px;
    margin-bottom: 10px;
}
.details{
    color: #ff6f61;
    font-size: 20px;
    margin-bottom: 10px;
}
.recepie-button{
    width: 100%;
    padding: 12px;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.recepie-button:hover{
    background-color: #e65a50;
}
